*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: url(../img/fondo.webp);
}
/*ESTILO Index */
.bannerHeader{
    width: 100%;
}
.navbarEs{
    justify-content: center; 
}
.nav-item{
    background-color: white;
    border-radius: 1.5rem;
    font-weight: bold;
    margin: 1.5rem;
    padding: 0.5rem;
}
.nav-item:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}
.linkElais{
    text-decoration: none;
    color: black;
}
.navElais{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgs{
    width: 70%;
}

/* Grids Index */
.contenidoIndex{
    display: grid;
    gap: 2.5rem;
    grid-template-areas: "titulos img1" 
                         "parrafo img2";
    margin: 5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.titulos{
    grid-area: titulos;
}
.img1{
    grid-area: img1;
    display: flex;
}
.img2{
    grid-area: img2;
    display: flex;
}
.parrafo{
    grid-area: parrafo;
}
/* Media queries tablet */
@media screen and (min-width: 415px) and (max-width: 768px){
    .navbarEli{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 1rem;
        z-index: 99;
    }
    .bgNav{
        background-color: rgb(253, 218, 201);
        width: 100%;
    }
    .nav-item{
        background-color: white;
        border-radius: 1rem;
        font-weight: bold;
        margin: 1rem;
        padding: 0.3rem;
    }
    .contenidoIndex{
        grid-template-areas: "titulos titulos"
                            "parrafo parrafo" 
                             "img1 img2";
    }
    .titulos{
        grid-area: titulos;
        font-size: 1.4rem;
    }
    .parrafo{
        grid-area: parrafo;
        font-size: 1.1rem;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
}

/* Media queries celular */
@media screen and (min-width: 280px) and (max-width:414px){
    .navbarEli{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 15px;
    }
    .bgNav{
        background-color: rgb(253, 218, 201);
        width: 100%;
    }
    .nav-item{
        background-color: white;
        border-radius: 1rem;
        font-weight: bold;
        margin: 1rem;
        padding: 0.2rem;
    }
    .contenidoIndex{
        grid-template-areas: "titulos"
                             "parrafo"
                             "img1"
                             "img2";
    }
    .titulos{
        grid-area: titulos;
        font-size: 1.4rem;
    }
    .parrafo{
        grid-area: parrafo;
        font-size: 1.1rem;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .imgs{
        width: 100%;
    }
}

/*ESTILO footer */
.footerElais{
    background: rgb(247,218,171);
    background: linear-gradient(0deg, rgba(247,218,171,1) 25%, rgba(239,204,230,1) 100%);
}
.contRedes{
    display: flex;
    justify-content: center;
}
.redes{
    display: flex;
    justify-content: center;
    width: 50%;
}
.instagram, .facebook{
    width: 10%;
}
.imgRedes{
    width: 20%;
}
.footer1{
    color: black;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 0px;
}

/*ESTILO audio*/
.tituloAudio{
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}
.audioFlex{
    display: flex;
    justify-content: center;
}
.letra{
    color: black;
    font-weight: bolder;
}
.colorLetra{
    color: black;
}
.cardsAudio{
    width: 90%;
}

/* Media queries Tablet*/
@media screen and (min-width: 415px) and (max-width: 768px){
    .navbarEli{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 1rem;
        z-index: 99;
    }
    .bgNav{
        background-color: rgb(253, 218, 201);
        width: 100%;
    }
}
/* Media queries celular*/
@media screen and (min-width: 280px) and (max-width:414px){

}


/*ESTILO bio*/
.tituloBio{
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}
.imgBio:hover{
    transform: scale(1.1);
}
/* Grids BIO*/
.gridBio{
    display: grid;
    gap: 15px;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
    grid-template-areas: "parrafoBio parrafoBio"
                         "imgBio1 imgBio2"
                         "sectionBio sectionBio";
}
.parrafoBio{
    grid-area: parrafoBio;
}
.imgBio1{
    grid-area: imgBio1;
   text-align: center;
}
.imgBio2{
    grid-area: imgBio2;
    text-align: center;
}
.sectionBio{
    grid-area: sectionBio;
}
.imgBio{
    width: 50%;
    object-fit: contain;
    transition: 1s;
}
/* Media queries tablet*/
@media screen and (min-width: 415px) and (max-width: 768px){
    .navbarEli{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 1rem;
        z-index: 99;
    }
    .bgNav{
        background-color: rgb(253, 218, 201);
        width: 100%;
    }
    .gridBio{
        grid-template-areas: "parrafoBio parrafoBio"
                             "imgBio1 imgBio2"
                             "sectionBio sectionBio";
    }
    .parrafoBio{
        grid-area: parrafoBio;
    }
    .imgBio1{
        grid-area: imgBio1;
       text-align: center;
    }
    .imgBio2{
        grid-area: imgBio2;
        text-align: center;
    }
    .sectionBio{
        grid-area: sectionBio;
    }
}
/* Media queries celular*/
@media screen and (min-width: 280px) and (max-width:414px) {
    .imgBio {
        width: 80%;
    }
    .gridBio{
        grid-template-areas: "parrafoBio"
                             "imgBio1" 
                             "imgBio2"
                             "sectionBio";
    }
    .parrafoBio{
        grid-area: parrafoBio;
    }
    .imgBio1{
        grid-area: imgBio1;
    }
    .imgBio2{
        grid-area: imgBio2;
    }
    .sectionBio{
        grid-area: sectionBio;
    }
}

/*ESTILO obras*/
.tituloObras{
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}
.colorDesc{
    color: black;
    background-color:rgb(238, 170, 125);
}
.letra{
    color: black;
    font-weight: bolder;
}
.colorLetra{
    color: black;
}
/* Media queries tablet*/
@media screen and (min-width: 415px) and (max-width: 768px){
    .navbarEli{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 1rem;
        z-index: 99;
    }
    .bgNav{
        background-color: rgb(253, 218, 201);
        width: 100%;
    }
}
/* Media queries celular*/
@media screen and (min-width: 280px) and (max-width:414px){

}

/*ESTILO contacto*/

.tituloContacto{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}
/* Grids contacto */

.containerContacto{
    display: grid;
    gap: 2rem;
    margin: 5rem;
    grid-template-areas: "infoContacto infoContacto"
                         "sectionContacto mapa";
}
.infoContacto{
    grid-area: infoContacto;
}
.sectionContacto{
    grid-area: sectionContacto;
}
.mapa{
    grid-area: mapa;
}

/* Media queries tablet*/
@media screen and (min-width: 415px) and (max-width: 768px){
    .navbarEli{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 1rem;
        z-index: 99;
    }
    .bgNav{
        background-color: rgb(253, 218, 201);
        width: 100%;
    }
    .containerContacto{
        
        grid-template-areas: "infoContacto"
                             "sectionContacto"
                             "mapa";
        
    }
    .infoContacto{
        grid-area: infoContacto;
    }
    .sectionContacto{
        grid-area: sectionContacto;
    }
    .mapa{
        grid-area: mapa;
    }
}

/* Media queries celular*/
@media screen and (min-width: 280px) and (max-width: 414px) {
    .mapa{
        display: none;
    }
    .containerContacto{
        grid-template-areas: "infoContacto"
                             "sectionContacto"
    }
    .infoContacto{
        grid-area: infoContacto;
    }
    .sectionContacto{
        grid-area: sectionContacto;
    }

}

